body {
  min-width: 960px;

  font-family: "PT Sans Narrow", Verdana, sans-serif;
  font-size:14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;

  color: #ffffff;
  background: #000000 url("../img/main-bg.jpg") center top no-repeat;
}

.inner-page {
  color: #000000;

  background: #f8f3f0 url("../img/pattern-bg.jpg") repeat;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  color: #ffffff;
  background-color: #000000;
}

.main-header a {
  padding: 25px 20px;

  font-size: 16px;
  line-height: 20px;

  text-decoration: none;
  color: #ffffff;
}

.main-header a:hover {
  background-color: #242424;
}

.main-navigation {
  float: left;
  width: 780px;
}

.main-navigation ul {
  padding: 0;
  margin: 0;

  font-size: 0;

  list-style: none;
}

.main-navigation li {
  display: inline-block;

  vertical-align: top;
}

.main-navigation a {
  display: block;
}

.main-navigation .active {
  position: relative;
  background-color: none;
}

.main-navigation .active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;

  height: 5px;

  background-color: #ffffff;
}

.main-navigation .active a:hover {
  background-color: #000000;
  cursor: default;
}

.main-navigation .header-logo {
  float: left;
  width: 111px;
  height: 20px;
  padding-top: 22px;
}

.main-navigation .header-logo:hover {
  background-color: #000000;
}

.header-logo img {
  width: 111px;
  height: 24px;
}

.user-block {
  float: right;
  max-width: 140px;
}

.user-block .login {
  position: relative;

  display: inline-block;
  padding-left: 50px;

  vertical-align: top;
}

.login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;

  display: block;
  width: 18px;
  height: 18px;

  background: url("../img/login.png") no-repeat;
  opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}

main {
  padding-top: 60px;
  padding-bottom: 65px;
}

.inner-page main {
  padding-top: 55px;
  /*padding-bottom: 50px;*/
}

.index-logo {
  width: 368px;
  height: 204px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.index-logo img {
  width: 368px;
  height: 204px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;

  text-align: center;
}

.features-item:last-child {
  margin-right: 0;
}

.features-name {
  position: relative;

  display: block;
  padding-bottom: 35px;
  margin-bottom: 30px;

  font-size: 30px;
  line-height: 42px;
}

.features-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  display: block;
  width: 20px;
  height: 20px;
  margin-left: -10px;

  background-color: #ffffff;
  transform: rotate(45deg);
}

.features-item p {
  margin: 10px;
  margin-bottom: 0;
}

.index-content {
  padding: 50px 80px;
  margin-bottom: 35px;

  color: #000000;
  background: url("../img/shadow.png") no-repeat center,
              #f8f5f2 url("../img/pattern-bg.jpg") repeat-x;
}

.index-content:last-child {
  margin-bottom: 0;
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}

.index-content-title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 42px;
}

.index-content p {
  margin: 0;
  margin-bottom: 25px;
}

.news-preview {
  margin: 0;
  padding: 0;
  padding-right: 35px;

  list-style: none;
}

.news-preview li {
  margin-bottom: 25px;
}

.news-preview p {
  margin-bottom: 0;
}

.news-preview time {
  text-transform: none;
}

.btn {
  display: inline-block;
  padding: 10px 33px;
  margin-right: 16px;

  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", Verdana, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
  text-align: center;

  color: #ffffff;
  background-color:#000000;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000000;
}

.gallery {
  position: relative;

  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0;

  background-color: #cccccc;
  border: 7px #ffffff solid;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery .btn {
  position: absolute;
  bottom: 0;

  width: 140px;
  margin: 0;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

.appointment-form input {
  float: left;
  width: 106px;
  padding: 7px 15px;
  margin-right: 20px;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;

  color: #000000;
  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
}

.appointment-form input:nth-child(2n) {
  margin-right: 0;
}

.appointment-form input:focus {
  border: 2px solid #663d15;
}


.appointment-form .btn {
  clear: both;
  width: 100%;
}

/*Inner Pages Styles*/

.inner-page-title {
 margin-bottom: 50px;
}

.inner-page h1 {
 padding: 0;
 margin: 0;
 margin-bottom: 15px;

 font-size: 30px;
 line-height: 42px;
}

.breadcrumbs  {
 padding: 0;
 margin: 0;

 list-style: none;
}

.breadcrumbs li {
 position: relative;

 display: inline;
 padding-right: 25px;
 margin-right: 15px;
}

.breadcrumbs li::after {
 content: "";
 position: absolute;
 right: 0;
 top: 4px;

 width: 8px;
 height: 8px;

 background-color: #000000;
 transform: rotate(45deg);
}

.breadcrumbs a {
 color: #000000;
 text-decoration: none;
}

.breadcrumbs a:hover {
 text-decoration: underline;
}

.breadcrumbs .current {
 color: #aba9a7;
}

.breadcrumbs .current::after {
 display: none;
}

.content {
  margin-bottom: 48px;
}

.catalog-filter {
  float: left;
  width: 220px;
  margin-top: -5px;
}

.filter-group {
  padding: 0;
  margin-bottom: 40px;

  border: none;
  outline: none;
}

.filter-group legend {
  margin-bottom: 30px;

  font-size: 24px;
  line-height: 30px;

  vertical-align: bottom;
}

.filter-group ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.filter-group li {
  margin-bottom: 17px;

  font-size: 14px;
  line-height: 18px;
}

.filter-group input[type="checkbox"],
.filter-group input[type="radio"] {
  display: none;
}

.filter-group label {
  position: relative;
  display: inline-block;
  max-width: 180px;

  padding-left: 44px;

  cursor: pointer;
}

.filter-group label:hover {
  color: #663d15;
}

.filter-group label.disabled,
.filter-group label:disabled:hover {
  color: #000000;
  cursor: default;
  opacity: 0.3;
}

.checkbox-custom,
.radio-custom {
  position: absolute;
  left: 0;
  top: -3px;

  width: 17px;
  height: 17px;

  border: 2px #000000 solid;
}

.brend-filter input[type="checkbox"]:checked + .checkbox-custom::before,
.brend-filter input[type="checkbox"]:checked + .checkbox-custom::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;

  width: 15px;
  height: 2px;

  background-color: #000000;
}

.brend-filter input[type="checkbox"]:checked + .checkbox-custom::before {
  transform: rotate(45deg);
}

.brend-filter input[type="checkbox"]:checked + .checkbox-custom::after {
  transform: rotate(-45deg);
}

.radio-custom {
  border-radius: 50%
}

.set-filter input[type="radio"]:checked + .radio-custom::before,
.set-filter input[type="radio"]:checked + .radio-custom::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;

  width: 9px;
  height: 9px;

  background-color: #000000;
  border-radius: 50%;
}

.filter-btn {
  font-size: 13px;
  line-height: 18px;
}

.catalog {
  float: right;
  width: 700px;
}

.catalog-table {
  font-size: 0;
  margin-bottom: 25px;
}

.catalog-item {
  display: inline-block;
  width: 220px;
  height: 286px;
  margin-right: 20px;
  margin-bottom: 20px;

  font-size: 14px;
  vertical-align: top;

  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}

.catalog-item:hover {
  box-shadow: 0 0 20px 5px rgba(0, 1, 1, 0.3);
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item img {
  width: 220px;
  height: 165px;
}

.catalog-item-content {
  padding: 16px;
  padding-top: 10px;
}

.catalog-item-title {
  margin: 0;
  margin-bottom: 12px;

  font-size: 14px;
  line-height: 18px;
}

.catalog-item-title a{
  text-decoration: none;
  color: #000000;
}

.catalog-item-category,
.catalog-item-name {
  display: block;
}

.catalog-item-category {
  text-transform: none;
}

.item-price {
  display: inline-block;
  width: 108px;
  padding-top: 10px;
  padding-bottom: 10px;

  text-align: center;

  color: #000000;
  background-color: #e5e5e5;
}

.buy-btn {
  padding: 10px 17px;
  margin-right: 0;
}

.page-btn {
  padding-left: 18px;
  padding-right: 18px;
  margin-right: 4px;
}

.page-btn.active {
  color: #000000;
  background-color: #ffffff;
}

.page-btn.active:hover{
  cursor: default;
}

.images-gallery {
  float: left;
  width: 460px;
}

.images-gallery a {
  display: inline-block;

  box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}

.images-big {
  width: 460px;
  height: 498px;
  margin-bottom: 20px;
}

.images-small {
  height: 149px;

  font-size: 0;
}

.images-small-item {
  width: 140px;
  height: 149px;
  margin-right: 20px;
}

.images-small-item:last-child {
  margin-right: 0;
}

.product {
  float: right;
  width: 385px;
  margin-top: 19px;
  padding-right: 5px;
}

.product-top {
  margin-bottom: 27px;
}

.product-availiable {
  float: left;
  width: 230px;
}

.product-article {
  float: right;
  max-width: 140px;

  color: #aeaeae;
}

.product-description p {
  margin: 0;
  margin-bottom: 35px;
}

.product-contents {
  margin-top: 65px;
}

.product-contents h2 {
  margin-bottom: 25px;

  font-size: 24px;
  line-height: 30px;
}

.product-contents ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.product-contents li {
  position: relative;

  padding-left: 20px;
}

.product-contents li::before {
  content: "";
  position: absolute;
  left:0;
  top: 6px;
  width: 10px;
  height: 10px;

  background-color: #000000;
  transform: rotate(45deg);
}

.main-footer {
  padding-top: 55px;
  padding-bottom: 40px;

  color: #ffffff;
  background: #252525 url("../img/footer-bg.jpg");
}

.inner-page .main-footer {
  box-shadow: inset 0 25px 50px rgba(0, 0, 0, 0.5);
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-contacts a {
  color: #ffffff;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-social {
  float: left;
  width: 180px;

  text-align: center;
}

.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}

.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;

  font-size: 0;
  vertical-align: top;
  text-decoration: none;

  transition:
  background-position 0.5s,
  background-color 0.5s;

}

.social-btn:hover {
  background-color: #ffffff;
}

.social-btn-vk {
  background: url(../img/vk-icon.png) no-repeat center;
  /*background-position: 9px -447px;*/
}

.social-btn-fb {
  background: url(../img/fb-icon.png) no-repeat center;
  /*background-position: 15px -171px;*/
}

.social-btn-inst {
  background: url(../img/inst-icon.png) no-repeat center;
  /*background-position: 12px -313px;*/
}

.social-btn-vk:hover {
  background: #ffffff url(../img/vk-icon-hover.png) no-repeat center;
  /*background-position: 9px -381px;*/
}

.social-btn-fb:hover {
  background: #ffffff url(../img/fb-icon-hover.png) no-repeat center;
  /*background-position: 15px -100px;*/
}

.social-btn-inst:hover {
  background: #ffffff url(../img/inst-icon-hover.png) no-repeat center;
  /*background-position: 12px -242px;*/
}

.footer-copyright {
  float: right;
  max-width: 180px;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;

  text-align: center;
}

.footer-copyright .btn {
  margin-right: 0;
}

.footer-copyright .btn:hover {
  color: #000000;

  background-color: #ffffff;
}

/* Pop-up */

.modal-content {
  position: absolute;
  top: 120px;
  left: 50%;

  display: none;
  width: 300px;
  padding: 50px 80px;
  margin-left: -230px;

  color: #000000;
  background: #f8f3f0 url("../img/pattern-bg.jpg");
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-content-close {
  position: absolute;
  top: 0;
  right: -34px;

  width: 22px;
  height: 22px;

  font-size: 0;

  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 3px;
  background-color: #d0d0d0;
  border-radius: 1px;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.modal-content h2 {
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 42px;
}

.modal-content p {
  margin: 0;
  margin-bottom: 14px;
}

.modal-content .login-form {
  margin-top: 30px;
  margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 241px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 15px;
  padding-right: 40px;

  font: inherit;
  text-transform: uppercase;

  color: #000000;
  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-form input.icon-user {
  background: url("../img/user-icon.png") no-repeat 268px center;
  /*background-repeat: no-repeat;
  background-position: 100% -504px;*/
}

.login-form input.icon-password {
  background: url("../img/password-icon.png") no-repeat 268px center;
  /*background-repeat: no-repeat;
  background-position: 100% -45px;*/
}

.login-checkbox {
  position: relative;

  padding-left: 30px;

  cursor: pointer;
}

.login-checkbox:hover {
  color: #663d15;
}

.login-checkbox input[type="checkbox"] {
  display: none;
}

.login-checkbox input[type="checkbox"] + .checkbox-custom {
  position: absolute;
  top: -3px;
  left: 0;

  width: 17px;
  height: 17px;

  border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-custom::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-custom::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;

  width: 15px;
  height: 2px;

  background-color: #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-custom::before {
  transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-custom::after {
  transform: rotate(-45deg);
}

.login-form .restore {
  float: right;

  color: #000000;
}

.login-form .btn {
  width: 100%;
  margin-top: 15px;
}

.modal-content-map {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;

  display: none;
  width: 766px;
  height: 561px;
  margin-top: -280px;
  margin-left: -390px;

  background: #e9e5dc url("../img/map.jpg");
  border: 7px solid white;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);
}
